<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
<h1>
     {{>header1}}
    This page will you information about us!!!!!!!!
    <p>This is new data is created for testing heroku!!!</p>
    {{about}}
</h1>
{{>footer}}
    </body>
    </html>